<h1>Hello Rails!</h1>
<p>
	It is now <%= @time %>
</p>
<p>
	Time to say
	<%= link_to "Goodbye", say_goodbye_path %>
</p>

<h3>Play time</h3>
<p>
	Addition: <%= 1+2 %>
</p>
<p>
	Concatenation: <%= "cow" + "boy" %>
</p>
<p>
	Time in one hour: <%= 1.hour.from_now.localtime %>
</p>
<p>
	<ul>
	  <% @files.each do |file| %>
		<li>file name is: <%= file %></li>
	  <% end %>
	</ul>
</p>
